body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.content {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

section {
  width: 65%;
  margin: 0 auto;
}

.progress-box {
  padding-bottom: 0.625rem;
  margin: auto;
  text-align: center;
}

.progress-container {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  width: 100%;
  margin-bottom: 0.6875rem;
  flex-direction: row;
}

input[type="checkbox"] {
  margin: 0;
  width: 1rem;
  height: 1rem;
}

progress {
  background-color: #dfdfdf;
  border-radius: 0.8125rem;
  height: 1.875rem;
  width: 100%;
}

progress::-webkit-progress-bar {
  background-color: #dfdfdf;
  border-radius: 0.8125rem;
}

progress::-webkit-progress-value {
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-size: 1.25rem 1.25rem;
  background-color: var(--progress-color);
  border-radius: 0.8125rem;
  transition: 0.5s ease;
}

progress::-moz-progress-bar {
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-size: 1.25rem 1.25rem;
  background-color: var(--progress-color);
  border-radius: 0.8125rem;
  transition: 0.5s ease;
}
<<<<<<< HEAD

/** loading style **/

.hidden {
  display: none;
}
.hidden {
  display: none;
}

.visible {
  display: flex;
  animation: fadeInAnimation ease 1s;
  animation-fill-mode: forwards;
}
.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: auto;
  border: 0.4rem solid #eaf0f6;
  border-radius: 50%;
  border-top: 0.4rem solid #4cac54;
  width: 5rem;
  height: 5rem;
  animation: spinner 4s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
=======
.hidden {
  display: none;
}
>>>>>>> 05fb77915b174cfc362ee8115c4cc40e189875a2
button {
  border: 0.1rem solid;
  border-radius: 6rem;
  padding: 0.7rem 1.2rem;
  font-size: 1rem;
  margin: 0 0.3125rem;
}

#autoIncreaseBtn,
#stopIncreaseBtn {
  color: #4cac54;
  background: none;
  border-color: #4cac54;
}

#increaseBtn {
  background-color: #4cac54;
  border-color: #4cac54;
  color: #fff;
}

#decreaseBtn {
  background-color: #ff5757;
  border-color: #ff5757;
  color: #fff;
}

#resetBtn {
  background-color: #bbbbbb;
  border-color: #bbbbbb;
  color: #fff;
}

/* Mobile responsive  */
@media only screen and (max-width: 600px) {
  section {
    width: 90%;
  }

  .progress-container {
    gap: 0.3125rem;
    flex-direction: row;
    align-items: center;
  }

  .button-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.625rem;
  }

  button {
    width: 45%;
    padding: 0.5rem;
    font-size: 0.9rem;
  }
}
